* {box-sizing: border-box;}

.main {margin: 0;
       font-family: Arial, Helvetica, sans-serif;}

       ul {
           position:absolute;
           top:25px;
           width: 100%;
        list-style-type: none;
        margin-left: 25px;
        padding: 0;}
      
      li {
        float: left;
      }
      
      li a, .drpbtn {
        display: block;
        color:white;
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
        padding: 14px 16px;
        text-decoration:underline;
        text-decoration-style: double;
      }
      
      li a:hover , .drpdown:hover .drpbtn {font-weight: bold;
        border-radius: 10px;
        background-color: #111;
        color: white;
      }

      li .drpdown{ position: relative;
                   display: inline-block;}
      
      
       li .drpdwn-content{display:none;
                      position: absolute;
                      background-color: #ccc;
                      min-width: 160px;}
      
       li .drpdwn-content a{color: white;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        text-align: left;}
      li  .drpdown:hover  .drpdwn-content{display: block;}

      input[type=search]{ margin-left: 25px;
                          margin-top: 25px;
                              width: 130px;
                              padding-left: 25px;
                              box-sizing: border-box;
                              border: 2px solid #ccc;
                              border-radius: 4px;
                              font-size: 16px;
                              background-color: white;
                             background-image: url(search.png);
                             background-size: contain;
                             background-repeat: no-repeat;
                             -webkit-transition: 130px 0.4s ease-in-out;
                             transition: 130px 0.4s ease-in-out;}
     input[type=search]:focus{width: 95%;} 
      







.head{padding:80px;
    text-align:center;
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('jeb2.jpg');
    background-attachment:scroll; 
    background-position:center;
    background-size:cover;
    color:white;}
.head h3{font-size:25px;
         margin-top: 470px;
        color: rgb(233, 184, 120);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.footer { padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: left;
        background-color: black;
        color:white;}
.box{  background-color:#333;
  width: 600px;
  height:200px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #000;
  padding: 30px;
  margin-top: 50px;
  margin-left: 100px;}

  .box1{ background-color:#333;
    width: 600px;
    height:200px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #000;
    padding: 30px;
    margin-top: 50px;
    margin-left: 300px;}
  .box > p{text-align: left;
           font-weight:bold;
          font-size: 30px;
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        text-decoration: underline;
         color:white;}

  .box1 > p{text-align:right;
            font-weight:bold;
            font-size: 30px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
            text-decoration: underline;
            color:white;}       

   img.x{  
  border: 2px solid black;
  padding:10px;
  box-shadow: 5px 5px 5px #000;
    margin-left: 300px;
    margin-top: -150px;
     z-index:-1;}
  
     img.x1{  
      border: 2px solid black;
      padding:10px;
      box-shadow: 5px 5px 5px #000;
        margin-left:-45px;
        margin-top: -150px;
         z-index:-1;}


  .middle{background-image: url(jb5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;}
